.left-sider {
  width: 80px;
  height: 100vh;
  color: #ffffff;
  border-right: 1px solid #f0f0f0;

  .title {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    .title-logo {
      font-size: 30px;
    }

    .title-word {
      margin-left: 5px;
      font-size: 20px;
      color: #600705;
    }

    .title-word-hide {
      display: none;
    }
  }

  .sider-icon {
    font-size: 20px !important;
  }
}

.left-sider-extend {
  width: 200px;
}