.container{
  display:grid;
  grid-template: 70px 1fr 40px / 200px 1fr;
  height:100vh;
  }
  
  .left-sidebar-container{
    min-width: 40px;
    margin-top:3px;
  }
  
  .main-continer{
    margin-left:2px;
    margin-top:3px;
  }