.container{
  display:grid;
  grid-template: 70px 1fr 40px / auto 1fr;
  height:100vh;
  }
  
  .left-sidebar-container{
    min-width: 80px;
    margin-top:3px;
  }
  
  .main-continer{
    margin-top:3px;
  }